{{ define "main" }}
<main class="main main--project">
  {{ partial "header" . }}
  <h1 class="project__title">{{ .Title }}</h1>
  {{ range .Pages.Reverse }}
    {{ partial "post" . }}
  {{ end }}
</main>
{{ end }}
