.icon {
  display: block;
  &:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1.5em;
    text-align: center;
  }
}
.icon--project:before {
  content: var(--icon-project);
}
.icon--post:before {
  content: var(--icon-post);
}
.icon--category:before {
  content: var(--icon-category);
}
.icon--tag:before {
  content: var(--icon-tag);
}
.icon--about:before {
  content: var(--icon-about);
}

.index__title,
.post__title,
.project__title {
  &:before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
  }
  .main--projects &:before {
    content: var(--icon-project);
  }
  .main--posts &:before {
    content: var(--icon-post);
  }
  .main--tags &:before {
    content: var(--icon-tag);
  }
  .main--categories &:before {
    content: var(--icon-category);
  }
  .main--about &:before {
    content: var(--icon-about);
  }
}

.project__title:before {
  content: var(--icon-project);
}
.post__title:before {
  content: var(--icon-post);
}

.post__aside .nav--taxonomies {
  .nav__link:before {
    content: "";
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
  }
  .nav__item--project .nav__link:before {
    content: var(--icon-project);
  }
  .nav__item--category .nav__link:before {
    content: var(--icon-category);
  }
  .nav__item--tag .nav__link:before {
    content: var(--icon-tag);
  }
}
