{{ define "main" }}
  <div class="print">
    <!-- Cover -->
    <div class="section-print cover">
      {{ partial "nav" . }}
    </div>
    <!-- Note -->
    <div class="section-print note">
      <div class="section-print__inner">
        {{ .Content }}
      </div>
    </div>
    <!-- Table of content -->
    <div class="section-print toc">
      <div class="section-print__inner">
        <h2 class="toc__title">Projects</h2>
        <ul class="toc__list">
          {{ range $name, $projects := .Site.Taxonomies.projects }}
          <li class="toc__item">{{ humanize $name }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="section-print content">
      <!-- Projects -->
      {{ range $name, $projects := .Site.Taxonomies.projects }}
      <div class="project">
        <h1 class="project__title">{{ humanize $name }}</h1>
        {{ range $projects.Pages.Reverse }}
          {{ partial "post" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>
  </div>
{{ end }}
